@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.text-primary {
		@apply text-transparent bg-clip-text bg-gradient-to-r from-purple-500 to-pink-500;
	}

	.heading {
		@apply text-3xl font-bold text-primary;
	}
}

body {
	scroll-behavior: smooth;
	background-color: #fdf7f4;
}

@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
		margin: 0 auto;
	}
}
